<div class="container-fluid">
  <div class="row no-gutters">
    <div class="d-flex justify-content-center">
      <img src="../../assets/mainLogo.jpeg" alt="logotipo" class="logotipo" />
    </div>
    <div class="d-flex justify-content-center">
      <h4>ASHOKA DIAGNOSTIC & DAY CARE CENTER</h4>
    </div>
    <div class="d-flex justify-content-center">
      <p>MINAKSHI CHOWK,NEAR LIC OFFICE HOSHANGABAD</p>
    </div>
    <div class="d-flex justify-content-center">
      <p>07574-465344, 9425603636, 7999590383</p>
    </div>
    <div
      class="d-flex justify-content-center"
      style="border-top: solid black 1px"
    >
      <p style="font-size: 12pt">ADMIT SLIP</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col">AMOUNT</div>
    <div class="col">₹ 350/-</div>
  </div>
  <div class="row total" style="height: 5em">
    <div class="row mt-3"></div>
    <div class="col-7"></div>
    <div class="col-3 label">
      <p class="black">Signature :</p>
    </div>
    <hr />
  </div>
</div>
